<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Mafia files</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	
	<div class="jumbotron">
		<div class="container">
			<h1>Mafia files</h1>
       		<p class="lead">go to <a href="/mafia">Mafia list</a> </p>
		</div>
  	</div>
	
	
    <div class="container">
    	
    	<form action="libros/save" method="post">
		
			<div class="form-group">
				<label for="id" class="control-label">id:</label>
				<input type="text" class="form-control disabled" name="id" id="id" style="width:30%"  th:value="${ganster.ganster.id}" >
			</div>
			<div class="form-group">
				<label for="name" class="control-label">name:</label>
				<input type="text" name="name" id="name" th:class="'form-control '+ ${edit ? '' : 'disabled'}" style="width:30%" th:value="${ganster.ganster.name}"  />
			</div>
			<div class="form-group">
				<label for="birthday" class="control-label">birthday:</label>
				<input type="text" name="birthday" id="birthday" th:class="'form-control '+ ${edit ? '' : 'disabled'}"  th:value="${#dates.format(ganster.ganster.birthday, 'dd/MM/yyyy')}" />
			</div>
			<div class="form-group">
				<label for="surveillance" class="control-label">special surveillance:</label>
				<input type="text" name="surveillance" id="surveillance" class="form-control disabled"  th:value="${ganster.isSpecialSurveillance}" />
			</div>
			<div class="form-group">
				<label for="total" class="control-label">total:</label>
				<input type="text" name="total" id="total" class="form-control disabled"  th:value="${ganster.numberOfSubordinates}" />
			</div>
			
		</form>
    	
	</div>
	<div class="container">
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>id</th>
		        <th>name</th>
		        <th>birthday</th>
		        <th>released</th>
		        <th>subordinates</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<tr th:each="subordinate : ${ganster.subordinates}">
			        <td><a th:href="'/detail/'+${subordinate.ganster.id}" th:text="${subordinate.ganster.id}"></a></td>
			        <td th:text="${subordinate.ganster.name}"></td>
			        <td th:text="${#dates.format(subordinate.ganster.birthday, 'dd/MM/yyyy')}"></td>
			        <td th:text="${subordinate.ganster.released}"></td>
			        <td th:text="${subordinate.numberOfSubordinates}"></td>
			        <td><a class="release" th:data-id="${subordinate.ganster.id}" th:text="${ganster.ganster.released ? 'imprison':'release'}"  href="#" /></td>
		      </tr>
		    </tbody>
		  </table>
	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    
  </body>
</html>