<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Mafia files</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	
	<div class="jumbotron">
		<div class="container">
			<h1>Mafia files</h1>
       		<p class="lead">Mafia code Test: <a href="/todo">instructions</a> </p>
		</div>
  	</div>
	
	
    <div class="container">
    	
      <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>id</th>
	        <th>name</th>
	        <th>birthday</th>
	        <th>released</th>
	        <th>special surveillance</th>
	        <th>subordinates</th>
	        <th>total</th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	    	<tr th:style="${ganster.ganster.released ? '': 'opacity: 0.5;'}" th:each="ganster : ${gansters}">
		        <td><a th:href="'/detail/'+${ganster.ganster.id}" th:text="${ganster.ganster.id}"></a></td>
		        <td th:text="${ganster.ganster.name}"></td>
		        <td th:text="${#dates.format(ganster.ganster.birthday, 'dd/MM/yyyy')}"></td>
		        <td th:text="${ganster.ganster.released}"></td>
		        <td>
		        	<i class="glyphicon glyphicon-eye-open" th:if="${ganster.isSpecialSurveillance}" />
		        </td>
		        <td th:text="${ganster.numberOfSubordinates}"></td>
		        <td><a class="release" th:data-id="${ganster.ganster.id}" th:text="${ganster.ganster.released ? 'imprison':'release'}"  href="#" /></td>
	      </tr>
	    </tbody>
	  </table>
    
    	
	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    
  </body>
</html>